<div style="height: 8rem;"></div>
  <main class="cardC">
        <div class="cardCreditos">
            <div class="card" style="width: 18rem; float:  left; ">
                <img src="~/imgs/PityMartinez.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Tobias Jajurin</h5>
                  <p class="card-text">Hincha de river como toda persona del bien.</p>
                </div>
              </div>
        </div>
        
        <div class="cardCreditos">
          <div class="card" style="width: 18rem; float:  left;">
            <img src="~/imgs/JuanferQuintero.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ian Miglin</h5>
              <p class="card-text">Hincha de river como toda persona del bien.</p>
            </div>
          </div>
        </div>
          <div class="cardCreditos">
          <div class="card" style="width: 18rem; float:  left;">
            <img src="~/imgs/gallardo.jfif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Marcelo Gallardo</h5>
              <p class="card-text">El mejor entrenador de la historia del futbol argentino.</p>
            </div>
          </div>
        </div>
    </main>