@foreach ( a in ViewBag.Deportes)
{
    <ul>
                <li></li>
                <li>Deport.</li>
                <li>Deport.</li>
                <li>Deport.</li>
                <li>Deport.</li>
    </ul>
}