@{
    ViewData["Title"] = "Index";
}
<body>
 <div class="background">
        <div class="centered-text">
            Viví los Juegos Olímpicos
        </div>
    </div>

    <div class="cards-container">
        <div class="card small-card">
            <img src="~/imgs/c1.jpeg" alt="Campeón 1">
            <div class="card-content">
                <h3>Campeón 1</h3>
                <p>Steven López, oro en Sídney 2000 </p>
            </div>
        </div>
        <div class="card large-card">
            <img src="~/imgs/c2.jfif" alt="Campeón 2">
            <div class="card-content">
                <h3>Campeón 2</h3>
                <p>Juan Martín del Potro: Tenista argentino que obtuvo la medalla de plata en los Juegos Olímpicos de Río 2016.</p>
            </div>
        </div>
        <div class="card small-card">
            <img src="~/imgs/c3.jpeg" alt="Campeón 3">
            <div class="card-content">
                <h3>Campeón 3</h3>
                <p>Simone Biles, cuatro oros en Río 2016 </p>
            </div>
        </div>
    </div>
    <!-- <section id="experience" class="py-5">
        <div class="container quit">
            <h2 class="text-center mb-5">
            <div class="row">
                <div class="col-md-12 mb-4">
                    <div class="d-flex flex-column align-items-center">
                        <div class="card mb-4" style="border: 2px solid #007bff; border-radius: .5rem;">
                            <img src="~/imgs/pexels-bohlemedia-1884576.jpg" alt="Trabajo 1" style="border-top-left-radius: .5rem; border-top-right-radius: .5rem; height: 400px; object-fit: cover;">
                        </div>
                        <div class="card mb-4" style="border: 2px solid #007bff; border-radius: .5rem;">
                            <img src="~/imgs/pexels-pixabay-69773.jpg" class="card-img-top" alt="Trabajo 2" style="border-top-left-radius: .5rem; border-top-right-radius: .5rem; height: 400px; object-fit: cover;">
                            <div class="card-body">
                                
                            </div>
                        </div>
                        <div class="card mb-4" style="border: 2px solid #007bff; border-radius: .5rem;">
                            <img src="~/imgs/pexels-artempodrez-5941819.jpg" class="card-img-top" alt="Trabajo 3" style="border-top-left-radius: .5rem; border-top-right-radius: .5rem; height: 400px; object-fit: cover;">
                            <div class="card-body">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
<div class="cards-container m-5 d-flex flex-column">
    <div class="card mb-3 w-100">
  <img src="~/imgs/pexels-bohlemedia-1884576.jpg" class="card-img-top"  style="object-fit: cover; height: 400px; width: 100%; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
</div>
<div class="card mb-3 w-100">
  <img src="~/imgs/pexels-pixabay-69773.jpg" class="card-img-top"  style="object-fit: cover; height: 400px; width: 100%; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
</div>
<div class="card mb-3 w-100">
  <img src="~/imgs/pexels-artempodrez-5941819.jpg" class="card-img-top"  style="object-fit: cover; height: 400px; width: 100%; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
</div>
</div>
 
</body>