<div style="height: 8rem;"></div>
<main>
    <section class="d-flex flex-wrap justify-content-center m-0">
@foreach (Pais a in ViewBag.Paises)
{
     <div class="card m-4 justify-content-evenly" style="width: 18rem; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
  <img src="@a.Bandera" class="card-img-top h-50 object-fit-cover">

  <div class="card-body">
    <h4 class="card-title">@a.Nombre</h4>
    <a href='@Url.Action("VerDetallePais", "Home", new { idPais = a.IdPais })' class="btn btn-primary">See Country</a>
  </div>
</div>
}
</section>
</main>